<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tony.boot.dp.dao.mapper.SysDpResourceMapper">

    <!--    <cache-ref namespace="SysDpUserRoleMapper"/>-->

    <resultMap id="BaseResultMap" type="com.tony.boot.dp.dao.entity.SysDpResource">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="type" column="type" jdbcType="TINYINT"/>
        <result property="key" column="key" jdbcType="TINYINT"/>
        <result property="value" column="value" jdbcType="VARCHAR"/>
        <result property="opUser" column="op_user" jdbcType="VARCHAR"/>
        <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
        <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,type,key,
        value,op_user,updated_at,
        created_at
    </sql>

    <select id="getResourceByUserId" resultType="com.tony.boot.dp.dao.entity.SysDpResource">
        SELECT resource.type, resource.key
        FROM (( sys_data_permission_role role JOIN sys_data_permission_user_role user_role ON role.id = user_role.role_id )
            JOIN sys_data_permission_role_resource role_resource ON role.id = role_resource.role_id
                 )
                 JOIN sys_data_permission_resource resource ON resource.id = role_resource.resource_id
        WHERE user_id = #{user_id}
    </select>

</mapper>
