<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tony.page.test.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.tony.page.test.domain.User">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="avatarId" column="avatar_id" jdbcType="BIGINT"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="enabled" column="enabled" jdbcType="BIGINT"/>
            <result property="deptId" column="dept_id" jdbcType="BIGINT"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="jobId" column="job_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="lastPasswordResetTime" column="last_password_reset_time" jdbcType="TIMESTAMP"/>
            <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDel" column="is_del" jdbcType="BOOLEAN"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,username,password,
        avatar_id,email,enabled,
        dept_id,phone,job_id,
        create_time,last_password_reset_time,nick_name,
        sex,update_time,is_del
    </sql>
</mapper>
