<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.xuzhijvn.tonyboot.dp.dao.mapper.SysDpRoleResourceMapper">

    <!--    <cache-ref namespace="SysDpUserRoleMapper"/>-->

    <resultMap id="BaseResultMap" type="io.github.xuzhijvn.tonyboot.dp.dao.entity.SysDpRoleResource">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="roleId" column="role_id" jdbcType="BIGINT"/>
        <result property="resourceId" column="resource_id" jdbcType="BIGINT"/>
        <result property="opUser" column="op_user" jdbcType="VARCHAR"/>
        <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
        <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,role_id,resource_id,
        op_user,updated_at,created_at
    </sql>
</mapper>
